*{
margin: 0;
padding: 0;
box-sizing: border-box;

}


body
{

    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    background-color: black;
}

.container
{

max-width: 90rem;
margin:2rem auto;
padding:0px 2rem;


}
.container-1
{

max-width: 90rem;
margin:2rem auto;
padding:0px 2rem;


}


.image-user
{


    max-width:100%;
}
.logo img
{

border-radius:50%;
width:70px;
heigth:70px;
outline:4px solid red;
}
nav{

display: flex;
justify-content: space-between;
padding:1rem 3rem;
align-items: center;

}
.items
{
display: flex;
align-items: center;
gap:30px;



}
.items-1
{
display: flex;
align-items: center;
gap:30px;




}


.items a:link,.items-1 a:link
{
text-decoration: none;
color:white;
font-size: 1rem;
font-weight: bold;

}
.items a:hover,.items-1 a:hover
{
 color:red;
}

button
{

font-size: 2rem;
padding:0.6rem  1rem;
font-weight: bold;
color:white;
background:linear-gradient(to right,rgb(173, 8, 8),rgb(214, 54, 54));
border-radius: 10px;
box-shadow: black 0px 7px  29px 0px ;
cursor: pointer;
border:none;
}
button:hover
{
color:red;
outline:1px solid red;
background: white;
border:none;

}
.rows
{
display: grid;
grid-template-columns: 1fr 1fr;
justify-content: center;
align-items: center;
}
.info
{

    display: flex;
    flex-direction: column;

}
.short-info
{

    color:red;
    font-size: 1rem;
    margin-bottom: 0.9rem;
}
.hero-heading
{

    font-size: 3rem;
    margin-bottom: 0.3rem;
}
.hero-sub-heading
{

    font-size: 0.9rem;
    opacity: 0.7;
}

.users
{
display: flex;
align-items: center;
margin:1rem 0px

}
.fluid
{

border-radius: 50%;
width:20px;
height:20px;
border: 2px solid red;

}




.learn-more
{

    align-self:start ;
    margin-top: 10rem;
}



h3
{

font-family: Arial, Helvetica, sans-serif;
color: red;
background:black;
margin-bottom: 1rem ;
widht:70px;
height: 20px;
line-height: 1rem;


}

.p1
{

font-family: Arial, Helvetica, sans-serif;
padding:1rem;
margin-buttom: 10px;
width:70%;
height:20%;


background:linear-gradient(to right,white,black,red);




}

footer{


padding:20px;
margin-top:20px;
color:#ffffff;
background-color: #e8491d;
text-align: center;

}

@media only screen and (max-width:800px)

{
  
  .row{

    grid-template-columns: 1fr;

  }
  .learn-more
  {

    align-items: start;
    margin-top: 1rem 0px;
  }

}
